body {
  font-family: "Open Sans", sans-serif;
}
h1 {
  text-align: center;
}
#container {
  background-color: #003049;
  width: 90%;
  height: 500px;
  margin: 0 auto;
  border: 5px solid #003049;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

#container div {
  width: 200px;
  height: 200px;
  /* flex-grow: 1; */
  text-align: center;
}
div:nth-of-type(1) {
  flex-grow: 1;
}
div:nth-of-type(5) {
  flex-grow: 2;
}
main {
  width: 80%;
  margin: auto;
  height: 500px;
  border: 5px solid black;
  display: flex;
}

main .sidebar {
  background-color: chartreuse;
  flex: 1 1 200px;
}

main .maincontent {
  background-color: chocolate;
  flex: 2 1 600px;
}
